/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body {
    margin: 0;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    color: #981b1d;
    font-size: 50px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}